{{#if message}}
	<div class="error">{{ message }}</div>
{{/if}}

<div class="auth">
	<form method="POST" action="login">
		<div>
			<input type="text" name="username" id="loginUsername" value="" placeholder="jan_alleman">
		</div>
		<div>
			<input type="password" name="password" id="loginPassword" value="" placeholder="********">
		</div>
		<div>
			<h1><input type="submit" value="Login" id="loginSubmit"></h1>
		</div>
	</form>
</div>
