{{#if message}}
	<div class="error">{{ message }}</div>
{{/if}}

<div class="auth">
	<form method="POST" action="register">
		<div>
			<input type="text" name="username" value="" placeholder="jan_alleman">
		</div>
		<div>
			<input type="email" name="email" value="" placeholder="jan@alleman.com">
		</div>
		<div>
			<input type="password" name="password" value="" placeholder="********">
		</div>
		<div><h1><input type="submit" value="Register"></h1></div>
	</form>
</div>
